Repository aragon/aragon-court, pull requests merged in 2019-11, with the labels that each got.

#199 Config: Optimize min active balance getter
  contracts/controller/Controlled.sol
  contracts/controller/Controller.sol
  contracts/controller/config/CourtConfig.sol
  contracts/controller/config/CourtConfigData.sol
  contracts/controller/config/IConfig.sol
  contracts/court/Court.sol
  contracts/registry/JurorsRegistry.sol
  contracts/test/controller/ControllerMock.sol
  test/controller/controller-clock.js
  test/court/court-gas.js
Labels: component:contracts, enhancement

#205 Court: Optimize config getters
  contracts/controller/Controlled.sol
  contracts/controller/Controller.sol
  contracts/controller/config/ConfigConsumer.sol
  contracts/controller/config/CourtConfig.sol
  contracts/controller/config/CourtConfigData.sol
  contracts/controller/config/IConfig.sol
  contracts/court/Court.sol
  test/court/court-gas.js
Labels: component:contracts, enhancement

#206 Config: Add opt-in config to allow holders withdrawals
  contracts/controller/config/CourtConfig.sol
  contracts/controller/config/IConfig.sol
  contracts/registry/JurorsRegistry.sol
  contracts/standards/ERC900.sol
  contracts/treasury/CourtTreasury.sol
  test/controller/controller-config.js
  test/registry/jurors-registry-activation.js
  test/treasury/court-treasury.js
Labels: component:contracts, feature

#202 Chore: Polish and organize test files
  .eslintrc
  migrations/1_initial_migration.js
  package.json
  scripts/tree-profile-gas.js
  test/controller/controlled-recoverable.js
  test/controller/controlled.js
  test/controller/controller-clock.js
  test/controller/controller-config.js
  test/controller/controller-initialize.js
  test/controller/controller-modules.js
  test/court/court-appeal.js
  test/court/court-confirm-appeal.js
  test/court/court-disputes.js
  test/court/court-draft.js
  test/court/court-gas.js
  test/court/court-settle-appeal.js
  test/court/court-settle-round.js
  test/court/court-voting.js
  test/helpers/asserts/assertBn.js
  test/helpers/asserts/assertEvent.js
  test/helpers/asserts/assertThrow.js
  test/helpers/lib/blocks.js
  test/helpers/lib/decodeEvent.js
  test/helpers/lib/logging.js
  test/helpers/lib/numbers.js
  test/helpers/lib/time.js
  test/helpers/utils/config.js
  test/helpers/utils/crvoting.js
  test/helpers/utils/errors.js
  test/helpers/utils/events.js
  test/helpers/utils/jurors.js
  test/helpers/utils/registry.js
  test/helpers/wrappers/controller.js
  test/helpers/wrappers/court.js
  test/lib/checkpointing.js
  test/lib/hex-sum-tree-gas.js
  test/lib/hex-sum-tree.js
  test/lib/jurors-tree-sortition.js
  test/registry/jurors-registry-activation.js
  test/registry/jurors-registry-assign-tokens.js
  test/registry/jurors-registry-drafting.js
  test/registry/jurors-registry-initialization.js
  test/registry/jurors-registry-setters.js
  test/registry/jurors-registry-slashing.js
  test/registry/jurors-registry-staking.js
  test/subscriptions/subscriptions-donations.js
  test/subscriptions/subscriptions-initialization.js
  test/subscriptions/subscriptions-jurors.js
  test/subscriptions/subscriptions-pause-resume.js
  test/subscriptions/subscriptions-payments.js
  test/subscriptions/subscriptions-setters.js
  test/treasury/court-treasury.js
  test/voting/crvoting-commit.js
  test/voting/crvoting-create.js
  test/voting/crvoting-initialization.js
  test/voting/crvoting-integration.js
  test/voting/crvoting-leak.js
  test/voting/crvoting-reveal.js
Labels: component:tests, enhancement

#207 Docs: Update with latest contract changes
  contracts/controller/config/CourtConfig.sol
  docs/4-entry-points/1-controller.md
  docs/4-entry-points/3-jurors-registry.md
  docs/6-external-interface/1-controller.md
  docs/6-external-interface/3-jurors-registry.md
Labels: documentation

#204 Chore: Drop aragonOS dependency
  contracts/controller/Controlled.sol
  contracts/controller/ControlledRecoverable.sol
  contracts/controller/Controller.sol
  contracts/controller/clock/CourtClock.sol
  contracts/controller/config/ConfigConsumer.sol
  contracts/controller/config/CourtConfig.sol
  contracts/controller/config/CourtConfigData.sol
  contracts/controller/config/IConfig.sol
  contracts/court/Court.sol
  contracts/lib/HexSumTree.sol
  contracts/lib/JurorsTreeSortition.sol
  contracts/lib/PctHelpers.sol
  contracts/lib/os/ERC20.sol
  contracts/lib/os/IsContract.sol
  contracts/lib/os/Migrations.sol
  contracts/lib/os/SafeERC20.sol
  contracts/lib/os/SafeMath.sol
  contracts/lib/os/SafeMath64.sol
  contracts/lib/os/TimeHelpers.sol
  contracts/lib/os/Uint256Helpers.sol
  contracts/registry/IJurorsRegistry.sol
  contracts/registry/JurorsRegistry.sol
  contracts/subscriptions/CourtSubscriptions.sol
  contracts/subscriptions/ISubscriptions.sol
  contracts/test/TestImports.sol
  contracts/test/lib/TimeHelpersMock.sol
  contracts/test/standards/ERC20Mock.sol
  contracts/treasury/CourtTreasury.sol
  contracts/treasury/ITreasury.sol
  contracts/voting/CRVoting.sol
  package.json
  test/court/court-draft.js
  test/helpers/wrappers/court.js
  truffle-config.js
Labels: component:chore, component:contracts

#210 Chore: Freshen up readme
  readme.md
Labels: enhancement, quick-review-and-merge

#212 Docs: Remove heartbeat fees inline comments
  contracts/court/Court.sol
  docs/4-entry-points/1-controller.md
Labels: component:contracts, documentation

#211 Clock: Allow to delay the court start time
  contracts/controller/Controller.sol
  contracts/controller/clock/CourtClock.sol
  docs/4-entry-points/1-controller.md
  docs/6-external-interface/1-controller.md
  test/controller/controller-clock.js
  test/helpers/utils/errors.js
  test/helpers/utils/events.js
Labels: component:contracts, feature

#213 Court: Add metadata argument for disputes
  contracts/court/Court.sol
  docs/4-entry-points/2-court.md
  docs/6-external-interface/2-court.md
  test/court/court-disputes.js
  test/court/court-gas.js
  test/helpers/wrappers/court.js
Labels: component:contracts, feature

#214 Court: Defined Arbitrable interface
  contracts/arbitration/IArbitrable.sol
  contracts/court/Court.sol
  contracts/test/agreements/ArbitrableMock.sol
  contracts/test/arbitration/ArbitrableMock.sol
  contracts/test/arbitration/FakeArbitrableMock.sol
  docs/4-entry-points/2-court.md
  docs/6-external-interface/2-court.md
  test/controller/controller-config.js
  test/court/court-appeal.js
  test/court/court-confirm-appeal.js
  test/court/court-disputes.js
  test/court/court-draft.js
  test/court/court-gas.js
  test/court/court-settle-appeal.js
  test/court/court-settle-round.js
  test/court/court-voting.js
  test/helpers/utils/errors.js
  test/helpers/wrappers/court.js
Labels: component:contracts, feature

#215 Court: Implement disputes resolution oracle interface
  contracts/controller/Controlled.sol
  contracts/controller/Controller.sol
  contracts/controller/oracle/DisputeResolutionOracle.sol
  contracts/controller/oracle/IDisputeResolutionOracle.sol
  contracts/court/Court.sol
  contracts/court/ICourt.sol
  contracts/lib/os/Uint256Helpers.sol
  contracts/subscriptions/CourtSubscriptions.sol
  contracts/subscriptions/ISubscriptions.sol
  contracts/test/arbitration/ArbitrableMock.sol
  contracts/test/arbitration/FakeArbitrableMock.sol
  contracts/test/subscriptions/SubscriptionsMock.sol
  docs/2-architecture/readme.md
  docs/4-entry-points/1-controller.md
  docs/4-entry-points/2-court.md
  docs/5-data-structures/2-court.md
  docs/6-external-interface/1-controller.md
  docs/6-external-interface/2-court.md
  test/court/court-appeal.js
  test/court/court-confirm-appeal.js
  test/court/court-disputes.js
  test/court/court-gas.js
  test/court/court-settle-round.js
  test/helpers/utils/events.js
  test/helpers/wrappers/controller.js
  test/helpers/wrappers/court.js
  test/subscriptions/subscriptions-pause-resume.js
  test/subscriptions/subscriptions-payments.js
Labels: component:contracts, feature

#218 Court: Clarify SafeMath comment for draft terms
  contracts/disputes/DisputeManager.sol
Labels: documentation, enhancement

#217 Chore: remove Kleros references
  contracts/disputes/DisputeManager.sol
  readme.md
Labels: enhancement, quick-review-and-merge

#220 Disputes: Implement evidence period
  .travis.yml
  contracts/arbitration/IArbitrable.sol
  contracts/arbitration/IArbitrator.sol
  contracts/court/AragonCourt.sol
  contracts/court/config/ConfigConsumer.sol
  contracts/court/config/CourtConfig.sol
  contracts/court/config/CourtConfigData.sol
  contracts/court/config/IConfig.sol
  contracts/court/controller/Controller.sol
  contracts/disputes/DisputeManager.sol
  contracts/disputes/IDisputeManager.sol
  contracts/registry/JurorsRegistry.sol
  contracts/test/arbitration/ArbitrableMock.sol
  contracts/test/court/AragonCourtMock.sol
  contracts/test/lib/TimeHelpersMock.sol
  docs/4-entry-points/1-aragon-court.md
  docs/4-entry-points/2-controller.md
  docs/4-entry-points/3-dispute-manager.md
  docs/4-entry-points/6-subscriptions.md
  docs/5-data-structures/2-controller.md
  docs/5-data-structures/3-dispute-manager.md
  docs/5-data-structures/4-jurors-registry.md
  docs/6-external-interface/2-controller.md
  docs/6-external-interface/3-dispute-manager.md
  docs/6-external-interface/4-jurors-registry.md
  test/arbitration/arbitrable.js
  test/court/controller/controller-config.js
  test/court/court-gas.js
  test/disputes/disputes-appeal.js
  test/disputes/disputes-confirm-appeal.js
  test/disputes/disputes-create.js
  test/disputes/disputes-draft.js
  test/disputes/disputes-evidence.js
  test/disputes/disputes-settle-appeal.js
  test/disputes/disputes-settle-round.js
  test/disputes/disputes-voting.js
  test/helpers/utils/config.js
  test/helpers/utils/errors.js
  test/helpers/utils/events.js
  test/helpers/wrappers/court.js
  test/registry/jurors-registry-activation.js
  test/registry/jurors-registry-assign-tokens.js
  test/registry/jurors-registry-setters.js
  test/registry/jurors-registry-slashing.js
  test/registry/jurors-registry-staking.js
  test/subscriptions/subscriptions-donations.js
  test/subscriptions/subscriptions-initialization.js
  test/subscriptions/subscriptions-pause-resume.js
  test/subscriptions/subscriptions-payments.js
  test/subscriptions/subscriptions-setters.js
  test/voting/crvoting-commit.js
  test/voting/crvoting-create.js
  test/voting/crvoting-initialization.js
  test/voting/crvoting-integration.js
Labels: component:contracts, feature

#225 Disputes: Fix dispute manager errors prefix
  contracts/court/AragonCourt.sol
  contracts/disputes/DisputeManager.sol
  contracts/disputes/IDisputeManager.sol
  contracts/test/disputes/DisputeManagerMockForVoting.sol
  contracts/voting/CRVoting.sol
  test/disputes/disputes-confirm-appeal.js
  test/disputes/disputes-evidence.js
  test/helpers/utils/errors.js
Labels: component:contracts

#224 Arbitrable: Fix ERC165 compliance interface
  contracts/arbitration/Arbitrable.sol
  contracts/arbitration/IArbitrable.sol
  contracts/test/arbitration/ArbitrableMock.sol
  test/arbitration/arbitrable.js
  test/court/court-gas.js
Labels: component:contracts, documentation

#232 Registry: process deactivation on staking
  contracts/registry/JurorsRegistry.sol
  docs/4-entry-points/4-jurors-registry.md
  test/registry/jurors-registry-activation.js
Labels: component:contracts, enhancement

#231 Court: use current term for drafting
  contracts/court/clock/CourtClock.sol
  contracts/court/clock/IClock.sol
  contracts/disputes/DisputeManager.sol
  docs/4-entry-points/2-controller.md
  docs/4-entry-points/3-dispute-manager.md
  test/disputes/disputes-draft.js
  test/helpers/utils/errors.js
Labels: component:contracts, enhancement

#233 Audit: Apply code recommendations
  contracts/court/AragonCourt.sol
  contracts/court/clock/CourtClock.sol
  contracts/court/config/ConfigConsumer.sol
  contracts/court/config/CourtConfig.sol
  contracts/court/config/CourtConfigData.sol
  contracts/court/config/IConfig.sol
  contracts/court/controller/Controlled.sol
  contracts/court/controller/Controller.sol
  contracts/disputes/DisputeManager.sol
  contracts/lib/Checkpointing.sol
  contracts/lib/HexSumTree.sol
  contracts/lib/JurorsTreeSortition.sol
  contracts/lib/os/SafeERC20.sol
  contracts/registry/JurorsRegistry.sol
  contracts/subscriptions/CourtSubscriptions.sol
  contracts/test/lib/HexSumTreeGasProfiler.sol
  contracts/treasury/CourtTreasury.sol
  contracts/voting/CRVoting.sol
  docs/4-entry-points/1-aragon-court.md
  docs/4-entry-points/2-controller.md
  docs/4-entry-points/4-jurors-registry.md
  docs/4-entry-points/5-voting.md
  docs/5-data-structures/2-controller.md
  docs/6-external-interface/2-controller.md
  docs/6-external-interface/4-jurors-registry.md
  docs/6-external-interface/5-voting.md
  scripts/tree-profile-gas.js
  test/court/court-gas.js
  test/disputes/disputes-voting.js
  test/helpers/utils/crvoting.js
  test/helpers/utils/errors.js
  test/helpers/wrappers/court.js
  test/lib/hex-sum-tree-gas.js
  test/lib/hex-sum-tree.js
  test/voting/crvoting-commit.js
  test/voting/crvoting-create.js
  test/voting/crvoting-integration.js
  test/voting/crvoting-leak.js
  test/voting/crvoting-reveal.js
  truffle-config.js
Labels: component:contracts, documentation, enhancement

#234 Arbitrable: Merge arbitrable contracts
  contracts/arbitration/Arbitrable.sol
  contracts/arbitration/IArbitrable.sol
  contracts/test/arbitration/ArbitrableMock.sol
Labels: component:contracts, enhancement

#235 Docs: Update architecture diagram
  docs/2-architecture/architecture.png
Labels: documentation, enhancement

#236 Arbitrable: Remove unused import
  contracts/arbitration/IArbitrator.sol
Labels: component:contracts, enhancement

#237 Audit: Code recommendations
  contracts/registry/JurorsRegistry.sol
Labels: component:contracts, enhancement

#238 Docs: Add governor structure details
  docs/2-architecture/readme.md
Labels: documentation

#239 Docs: Crypto-economic considerations
  docs/3-cryptoeconomic-considerations/readme.md
  docs/3-trust-assumptions/readme.md
  docs/readme.md
Labels: documentation
