Repository aragon/aragon-court, pull requests merged in 2019-08, with the labels that each got.

#73 CourtStaking: Fix settleRegularRound bug
  contracts/Court.sol
  contracts/CourtStaking.sol
  test/court-batches.js
Labels: bug

#75 Appeal collateral
  contracts/CRVoting.sol
  contracts/Court.sol
  contracts/JurorsRegistry.sol
  contracts/test/CourtMock.sol
  test/court-batches.js
  test/court-disputes.js
  test/court-final-appeal-non-exact.js
  test/court-final-appeal.js
  test/court-lifecycle.js
Labels: component:contracts, feature

#96 Voting: Improve implementation and document
  contracts/CRVoting.sol
  contracts/Court.sol
  contracts/JurorsRegistry.sol
  contracts/standards/erc900/IJurorsRegistry.sol
  contracts/standards/voting/ICRVoting.sol
  contracts/standards/voting/ICRVotingOwner.sol
  contracts/test/VotingOwnerMock.sol
  contracts/test/registry/JurorsRegistryOwnerMock.sol
  contracts/test/voting/CRVotingOwnerMock.sol
  test/court-batches.js
  test/court-disputes.js
  test/court-final-appeal-non-exact.js
  test/court-final-appeal.js
  test/crvoting.js
  test/helpers/crvoting.js
  test/registry/jurors-registry-initialization.js
Labels: component:contracts, enhancement

#98 Voting: Add full-coverage unit tests
  contracts/CRVoting.sol
  contracts/Court.sol
  contracts/standards/voting/ICRVoting.sol
  contracts/standards/voting/ICRVotingOwner.sol
  contracts/test/voting/CRVotingOwnerMock.sol
  test/court-batches.js
  test/court-disputes.js
  test/court-final-appeal-non-exact.js
  test/court-final-appeal.js
  test/crvoting.js
  test/voting/crvoting-commit.js
  test/voting/crvoting-create.js
  test/voting/crvoting-initialize.js
  test/voting/crvoting-integration.js
  test/voting/crvoting-leak.js
  test/voting/crvoting-reveal.js
Labels: component:tests

#104 Tree: Polish contract and write full-coverage tests
  contracts/Court.sol
  contracts/CourtSubscriptions.sol
  contracts/JurorsRegistry.sol
  contracts/lib/Checkpointing.sol
  contracts/lib/HexSumTree.sol
  contracts/lib/JurorsTreeSortition.sol
  contracts/test/CourtMock.sol
  contracts/test/HexSumTreeMock.sol
  contracts/test/lib/TimeHelpersMock.sol
  contracts/test/registry/JurorsRegistryMock.sol
  contracts/test/tree/CheckpointingMock.sol
  contracts/test/tree/HexSumTreeGasProfiler.sol
  contracts/test/tree/HexSumTreeMock.sol
  contracts/test/tree/JurorsTreeSortitionMock.sol
  test/court-batches.js
  test/court-disputes.js
  test/court-final-appeal-non-exact.js
  test/court-final-appeal.js
  test/court-init.js
  test/court-lifecycle.js
  test/helpers/court.js
  test/helpers/numbers.js
  test/helpers/time.js
  test/hex-tree-checkpointing-gas.js
  test/hex-tree-checkpointing.js
  test/hex-tree-gas.js
  test/hex-tree.js
  test/tree/checkpointing.js
  test/tree/hex-sum-tree-gas.js
  test/tree/hex-sum-tree.js
  test/tree/jurors-tree-sortition.js
Labels: component:contracts, component:tests, documentation
