Repository aragon/aragon-court, pull requests merged in 2019-09, with the labels that each got.

#103 Court: Polish main court contract functionality
  .travis.yml
  contracts/Agreement.sol
  contracts/CRVoting.sol
  contracts/Court.sol
  contracts/CourtAccounting.sol
  contracts/CourtSubscriptions.sol
  contracts/JurorsRegistry.sol
  contracts/lib/Checkpointing.sol
  contracts/lib/HexSumTree.sol
  contracts/lib/JurorsTreeSortition.sol
  contracts/lib/PctHelpers.sol
  contracts/standards/arbitration/IArbitrable.sol
  contracts/test/ArbitrableMock.sol
  contracts/test/CourtMock.sol
  contracts/test/registry/JurorsRegistryMock.sol
  package.json
  test/court-batches.js
  test/court-disputes.js
  test/court-final-appeal-non-exact.js
  test/court-final-appeal.js
  test/court-init.js
  test/court-lifecycle.js
  test/court/court-accounting.js
  test/court/court-appeal.js
  test/court/court-confirm-appeal.js
  test/court/court-disputes.js
  test/court/court-draft.js
  test/court/court-initialize.js
  test/court/court-settle.js
  test/court/court-terms.js
  test/court/court-voting.js
  test/helpers/blocks.js
  test/helpers/court.js
  test/helpers/crvoting.js
  test/helpers/decodeEvent.js
  test/helpers/jurors.js
  test/registry/jurors-registry-activatation.js
  test/registry/jurors-registry-assign-tokens.js
  test/registry/jurors-registry-drafting.js
  test/registry/jurors-registry-initialization.js
  test/registry/jurors-registry-slashing.js
  test/registry/jurors-registry-staking.js
  test/voting/crvoting-commit.js
  test/voting/crvoting-create.js
  test/voting/crvoting-integration.js
  test/voting/crvoting-leak.js
  test/voting/crvoting-reveal.js
Labels: component:contracts, component:tests, documentation

#108 Chore: Upgrade Truffle to v5
  contracts/Court.sol
  contracts/test/tree/JurorsTreeSortitionMock.sol
  package.json
  test/court/court-accounting.js
  test/court/court-appeal.js
  test/court/court-confirm-appeal.js
  test/court/court-disputes.js
  test/court/court-draft.js
  test/court/court-initialize.js
  test/court/court-settle.js
  test/court/court-terms.js
  test/court/court-voting.js
  test/helpers/assertEvent.js
  test/helpers/assertThrow.js
  test/helpers/blocks.js
  test/helpers/court.js
  test/helpers/crvoting.js
  test/helpers/decodeEvent.js
  test/helpers/jurors.js
  test/helpers/numbers.js
  test/registry/jurors-registry-activatation.js
  test/registry/jurors-registry-assign-tokens.js
  test/registry/jurors-registry-drafting.js
  test/registry/jurors-registry-initialization.js
  test/registry/jurors-registry-slashing.js
  test/registry/jurors-registry-staking.js
  test/subscription-fees.js
  test/tree/checkpointing.js
  test/tree/hex-sum-tree-gas.js
  test/tree/hex-sum-tree.js
  test/tree/jurors-tree-sortition.js
  test/voting/crvoting-commit.js
  test/voting/crvoting-create.js
  test/voting/crvoting-initialize.js
  test/voting/crvoting-integration.js
  test/voting/crvoting-leak.js
  test/voting/crvoting-reveal.js
  truffle-config.js
Labels: component:chore, enhancement

#112 Chore: Upgrade CI node to version 10
  .travis.yml
Labels: component:chore

#128 Chore: Run linter in pre-push hook
  package.json
Labels: component:chore

#130 Court: Include leaked votes in settle tests
  test/court/court-settle.js
  test/helpers/court.js
Labels: component:tests

#131 Arbitrable: Remove unused stuff
  contracts/arbitration/Agreement.sol
  contracts/arbitration/Arbitrable.sol
  contracts/arbitration/IArbitrable.sol
  contracts/court/Court.sol
  contracts/test/agreements/ArbitrableMock.sol
  test/court/court-settle.js
Labels: component:contracts, enhancement

#129 Court: Add tests for juror fees
  contracts/court/Court.sol
  test/court/court-appeal.js
  test/court/court-confirm-appeal.js
  test/court/court-disputes.js
  test/court/court-draft.js
  test/court/court-settle.js
  test/helpers/court.js
Labels: component:tests

#134 Contracts: Minor enhancements
  contracts/court/Court.sol
  contracts/court/CourtAccounting.sol
  contracts/lib/JurorsTreeSortition.sol
  contracts/registry/JurorsRegistry.sol
  contracts/subscriptions/CourtSubscriptions.sol
  contracts/test/registry/JurorsRegistryOwnerMock.sol
  contracts/test/standards/ERC20Mock.sol
  contracts/voting/CRVoting.sol
  package.json
  test/registry/jurors-registry-activatation.js
  test/registry/jurors-registry-drafting.js
  test/registry/jurors-registry-initialization.js
  test/registry/jurors-registry-slashing.js
  test/registry/jurors-registry-staking.js
  test/voting/crvoting-initialize.js
Labels: component:contracts, enhancement

#140 Voting: Remove winning outcome tally getter
  contracts/voting/CRVoting.sol
  contracts/voting/ICRVoting.sol
  test/voting/crvoting-commit.js
  test/voting/crvoting-integration.js
  test/voting/crvoting-leak.js
Labels: component:contracts, enhancement

#136 Subscriptions: Organize functions according linter rules
  contracts/subscriptions/CourtSubscriptions.sol
Labels: component:contracts, enhancement

#137 Subscriptions: Polish unit tests
  contracts/subscriptions/CourtSubscriptions.sol
  contracts/test/subscriptions/SubscriptionsOwnerMock.sol
  test/subscriptions/subscription-fees.js
  test/subscriptions/subscriptions-initialization.js
  test/subscriptions/subscriptions-jurors.js
  test/subscriptions/subscriptions-payments.js
  test/subscriptions/subscriptions-setters.js
Labels: component:contracts, component:tests

#141 Court: Test final rounds jurors number immutability
  test/court/court-confirm-appeal.js
Labels: component:contracts, component:tests

#138 Subscriptions: Polish contract
  contracts/subscriptions/CourtSubscriptions.sol
  test/subscriptions/subscriptions-initialization.js
  test/subscriptions/subscriptions-jurors.js
  test/subscriptions/subscriptions-payments.js
  test/subscriptions/subscriptions-setters.js
Labels: component:contracts, enhancement

#139 Contracts: Use Initializable contract
  contracts/court/CourtAccounting.sol
  contracts/registry/JurorsRegistry.sol
  contracts/subscriptions/CourtSubscriptions.sol
  test/court/court-accounting.js
  test/subscriptions/subscriptions-initialization.js
Labels: component:contracts, enhancement

#146 Court: Implement new config params
  contracts/court/Court.sol
  contracts/test/court/CourtMock.sol
  test/court/court-appeal.js
  test/court/court-config.js
  test/court/court-confirm-appeal.js
  test/court/court-disputes.js
  test/court/court-draft.js
  test/court/court-initialize.js
  test/court/court-settle.js
  test/court/court-voting.js
  test/helpers/court.js
  test/helpers/numbers.js
  truffle-config.js
Labels: component:contracts, enhancement

#142 Registry: Implement total active balance limit
  contracts/court/Court.sol
  contracts/registry/IJurorsRegistry.sol
  contracts/registry/JurorsRegistry.sol
  test/helpers/court.js
  test/registry/jurors-registry-activatation.js
  test/registry/jurors-registry-assign-tokens.js
  test/registry/jurors-registry-drafting.js
  test/registry/jurors-registry-initialization.js
  test/registry/jurors-registry-slashing.js
  test/registry/jurors-registry-staking.js
  test/subscriptions/subscriptions-jurors.js
  truffle-config.js
Labels: component:contracts, feature
