Repository aragon/aragon-court, pull requests merged in 2019-10, with the labels that each got.

#148 Court: Fix appeal fees reimbursements
  .travis.yml
  contracts/court/Court.sol
  contracts/test/court/CourtMock.sol
  contracts/test/lib/TimeHelpersMock.sol
  test/court/court-disputes.js
  test/court/court-draft.js
  test/court/court-settle-appeal.js
  test/court/court-settle-round.js
  test/court/court-settle.js
  truffle-config.js
Labels: bug, component:contracts

#147 Subscriptions: Implement pause/resume functionality
  contracts/court/Court.sol
  contracts/subscriptions/CourtSubscriptions.sol
  contracts/subscriptions/ISubscriptions.sol
  contracts/test/court/CourtMock.sol
  contracts/test/subscriptions/SubscriptionsMock.sol
  contracts/test/subscriptions/SubscriptionsOwnerMock.sol
  test/helpers/court.js
  test/subscriptions/subscriptions-initialization.js
  test/subscriptions/subscriptions-jurors.js
  test/subscriptions/subscriptions-pause-resume.js
  test/subscriptions/subscriptions-payments.js
  test/subscriptions/subscriptions-setters.js
Labels: component:contracts, feature

#145 Registry: Take into account deactivation requests when drafting
  contracts/court/Court.sol
  contracts/registry/IJurorsRegistry.sol
  contracts/registry/JurorsRegistry.sol
  contracts/test/registry/JurorsRegistryMock.sol
  contracts/test/registry/JurorsRegistryOwnerMock.sol
  test/lib/hex-sum-tree.js
  test/registry/jurors-registry-drafting.js
Labels: bug, component:contracts, enhancement

#163 Court & Voting: compute weight only on commit
  contracts/court/Court.sol
  contracts/test/voting/CRVotingOwnerMock.sol
  contracts/voting/CRVoting.sol
  contracts/voting/ICRVotingOwner.sol
  test/court/court-voting.js
  test/voting/crvoting-leak.js
  test/voting/crvoting-reveal.js
Labels: component:contracts, enhancement, quick-review-and-merge

#164 Court & Registry: move final round computations to registry
  contracts/court/Court.sol
  contracts/registry/IJurorsRegistry.sol
  contracts/registry/JurorsRegistry.sol
Labels: component:contracts, enhancement, quick-review-and-merge

#151 Core: Implement recoverability mechanism
  .travis.yml
  contracts/controller/Controlled.sol
  contracts/controller/ControlledRecoverable.sol
  contracts/controller/Controller.sol
  contracts/court/Court.sol
  contracts/court/CourtAccounting.sol
  contracts/court/IAccounting.sol
  contracts/registry/IJurorsRegistry.sol
  contracts/registry/JurorsRegistry.sol
  contracts/subscriptions/CourtSubscriptions.sol
  contracts/subscriptions/ISubscriptions.sol
  contracts/subscriptions/ISubscriptionsOwner.sol
  contracts/test/controller/ControlledMock.sol
  contracts/test/controller/ControlledRecoverableMock.sol
  contracts/test/controller/ControllerMock.sol
  contracts/test/court/CourtMock.sol
  contracts/test/lib/TimeHelpersMock.sol
  contracts/test/registry/JurorsRegistryMock.sol
  contracts/test/subscriptions/SubscriptionsMock.sol
  contracts/test/subscriptions/SubscriptionsOwnerMock.sol
  contracts/voting/CRVoting.sol
  contracts/voting/ICRVoting.sol
  test/controller/controlled-recoverable.js
  test/controller/controlled.js
  test/controller/controller.js
  test/court/court-accounting.js
  test/court/court-appeal.js
  test/court/court-config.js
  test/helpers/court.js
  test/registry/jurors-registry-activatation.js
  test/registry/jurors-registry-assign-tokens.js
  test/registry/jurors-registry-drafting.js
  test/registry/jurors-registry-initialization.js
  test/registry/jurors-registry-slashing.js
  test/registry/jurors-registry-staking.js
  test/subscriptions/subscriptions-initialization.js
  test/subscriptions/subscriptions-jurors.js
  test/subscriptions/subscriptions-pause-resume.js
  test/subscriptions/subscriptions-payments.js
  test/subscriptions/subscriptions-setters.js
  test/voting/crvoting-commit.js
  test/voting/crvoting-create.js
  test/voting/crvoting-initialization.js
  test/voting/crvoting-initialize.js
  test/voting/crvoting-integration.js
  test/voting/crvoting-leak.js
  test/voting/crvoting-reveal.js
  truffle-config.js
Labels: 1st audit freeze, component:contracts, feature

#152 Accounting: Write inline doc
  contracts/court/CourtAccounting.sol
Labels: 1st audit freeze, component:contracts, documentation

#170 Court: Implement modifiers to ensure dispute and round existence
  contracts/court/Court.sol
  test/court/court-confirm-appeal.js
  test/court/court-disputes.js
  test/court/court-gas.js
  test/court/court-settle-appeal.js
  test/court/court-settle-round.js
Labels: 1st audit freeze, component:contracts, enhancement

#171 Court: Implement state getters
  contracts/controller/config/CourtConfig.sol
  test/controller/controller-config.js
  test/court/court-disputes.js
  test/court/court-gas.js
Labels: 1st audit freeze, component:contracts, enhancement

#172 Registry: Allow governor to set config variables
  contracts/registry/JurorsRegistry.sol
  test/registry/jurors-registry-setters.js
  test/subscriptions/subscriptions-setters.js
Labels: 1st audit freeze, component:contracts, feature

#174 Accounting: Add unprotected withdraw method
  contracts/accounting/CourtAccounting.sol
  test/accounting/court-accounting.js
Labels: 1st audit freeze, component:contracts, feature

#175 Accounting: Rename to `CourtTreasury`
  .travis.yml
  contracts/controller/Controlled.sol
  contracts/controller/Controller.sol
  contracts/court/Court.sol
  contracts/registry/JurorsRegistry.sol
  contracts/test/controller/ControllerMock.sol
  contracts/treasury/CourtTreasury.sol
  contracts/treasury/ITreasury.sol
  test/controller/controller-modules.js
  test/court/court-appeal.js
  test/court/court-disputes.js
  test/court/court-draft.js
  test/court/court-settle-appeal.js
  test/court/court-settle-round.js
  test/helpers/controller.js
  test/helpers/court.js
  test/treasury/court-treasury.js
Labels: 1st audit freeze, component:contracts, enhancement

#176 Registry: Implement drafts sortition limit
  contracts/court/Court.sol
  contracts/lib/JurorsTreeSortition.sol
  contracts/registry/IJurorsRegistry.sol
  contracts/registry/JurorsRegistry.sol
  contracts/test/registry/CourtMockForRegistry.sol
  contracts/test/registry/JurorsRegistryMock.sol
  test/court/court-gas.js
  test/helpers/jurors.js
  test/helpers/registry.js
  test/lib/jurors-tree-sortition.js
  test/registry/jurors-registry-drafting.js
  test/registry/jurors-registry-slashing.js
Labels: 1st audit freeze, component:contracts, feature

#186 Contracts: Enable optimizer with 10,000 runs
  test/court/court-gas.js
  test/lib/hex-sum-tree-gas.js
  truffle-config.js
Labels: component:contracts, enhancement

#181 Subscriptions: allow to make donations
  contracts/subscriptions/CourtSubscriptions.sol
  test/subscriptions/subscriptions-donations.js
Labels: 1st audit freeze, component:contracts, enhancement

#182 Court: allow to have appeal collateral factors with decimals
  contracts/controller/Controller.sol
  contracts/controller/config/CourtConfig.sol
  contracts/controller/config/CourtConfigData.sol
  contracts/court/Court.sol
  contracts/lib/PctHelpers.sol
  contracts/registry/JurorsRegistry.sol
  contracts/subscriptions/CourtSubscriptions.sol
  test/helpers/controller.js
  test/helpers/court.js
Labels: 1st audit freeze, component:contracts, enhancement

#177 Court: Make draft batches size fixed.
  contracts/court/Court.sol
  test/court/court-draft.js
  test/court/court-gas.js
  test/helpers/controller.js
  test/helpers/court.js
Labels: 1st audit freeze, component:contracts

#173 Court: Rename voting methods
  contracts/court/Court.sol
  contracts/test/voting/CRVotingOwnerMock.sol
  contracts/voting/CRVoting.sol
  contracts/voting/ICRVotingOwner.sol
  test/voting/crvoting-leak.js
Labels: 1st audit freeze, component:contracts, enhancement

#190 Jurors Tree: fix interval zero check
  contracts/lib/JurorsTreeSortition.sol
  test/lib/jurors-tree-sortition.js
  test/registry/jurors-registry-drafting.js
Labels: 1st audit freeze, component:contracts

#191 Court: Implement withdrawal lock for coherent jurors in final round
  contracts/controller/Controlled.sol
  contracts/controller/Controller.sol
  contracts/controller/config/CourtConfig.sol
  contracts/controller/config/CourtConfigData.sol
  contracts/controller/config/IConfig.sol
  contracts/court/Court.sol
  contracts/registry/IJurorsRegistry.sol
  contracts/registry/JurorsRegistry.sol
  contracts/test/controller/ControllerMock.sol
  test/controller/controller-config.js
  test/court/court-gas.js
  test/court/court-settle-round.js
  test/helpers/controller.js
Labels: 1st audit freeze, component:contracts, enhancement

#194 Court: Improve voting methods
  contracts/court/Court.sol
  contracts/test/court/CourtMockForVoting.sol
  contracts/voting/CRVoting.sol
  contracts/voting/ICRVotingOwner.sol
  test/court/court-voting.js
  test/voting/crvoting-commit.js
Labels: component:contracts, enhancement

#193 Contracts: Minor enhancements
  contracts/controller/Controlled.sol
  contracts/controller/Controller.sol
  contracts/controller/clock/CourtClock.sol
  contracts/controller/clock/IClock.sol
  contracts/controller/config/CourtConfig.sol
  contracts/controller/config/IConfig.sol
  contracts/court/Court.sol
  contracts/lib/Checkpointing.sol
  contracts/lib/HexSumTree.sol
  contracts/lib/JurorsTreeSortition.sol
  contracts/lib/PctHelpers.sol
  contracts/registry/IJurorsRegistry.sol
  contracts/registry/JurorsRegistry.sol
  contracts/standards/ApproveAndCall.sol
  contracts/standards/ERC165.sol
  contracts/standards/ERC900.sol
  contracts/subscriptions/CourtSubscriptions.sol
  contracts/subscriptions/ISubscriptions.sol
  contracts/test/court/CourtMockForRegistry.sol
  contracts/test/court/CourtMockForVoting.sol
  contracts/test/lib/CheckpointingMock.sol
  contracts/test/lib/HexSumTreeGasProfiler.sol
  contracts/test/lib/HexSumTreeMock.sol
  contracts/test/lib/JurorsTreeSortitionMock.sol
  contracts/test/subscriptions/SubscriptionsMock.sol
  contracts/test/voting/CRVotingOwnerMock.sol
  contracts/treasury/ITreasury.sol
  contracts/voting/CRVoting.sol
  contracts/voting/ICRVoting.sol
  contracts/voting/ICRVotingOwner.sol
  test/court/court-voting.js
  test/voting/crvoting-commit.js
  test/voting/crvoting-create.js
  test/voting/crvoting-integration.js
  test/voting/crvoting-leak.js
  test/voting/crvoting-reveal.js
Labels: component:contracts, enhancement

#196 Docs: Add v1 technical spec documentation
  docs/1-mechanism/readme.md
  docs/2-architecture/architecture.png
  docs/2-architecture/readme.md
  docs/3-trust-assumptions/readme.md
  docs/4-entry-points/1-controller.md
  docs/4-entry-points/2-court.md
  docs/4-entry-points/3-jurors-registry.md
  docs/4-entry-points/4-voting.md
  docs/4-entry-points/5-subscriptions.md
  docs/4-entry-points/6-treasury.md
  docs/4-entry-points/readme.md
  docs/5-data-structures/1-controller.md
  docs/5-data-structures/2-court.md
  docs/5-data-structures/3-jurors-registry.md
  docs/5-data-structures/4-voting.md
  docs/5-data-structures/5-subscriptions.md
  docs/5-data-structures/6-treasury.md
  docs/5-data-structures/readme.md
  docs/6-additional-documentation/readme.md
  docs/readme.md
Labels: documentation
